h2 
{
	color: #7FFF00;
}
h1 
{
	 text-align: center
}
img.img-center {
		    margin-left: auto;
		    margin-right: auto;
		    width: 20em;
		    display: block;
		}
h1
{ color: #0000ff;
border: solid 10px blue;
}

